<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间,指定接口的完整路径-->
<mapper namespace="cn.tedu._04mybaits.mapper.UserMapper">
    <!--Ctrl + Alt + l 格式化代码-->
    <insert id="insertUser">
        INSERT INTO user(id, username, password, nickname, created)
        VALUES (#{id}, #{username}, #{password}, #{nickname}, #{created})
    </insert>
</mapper>

