<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间,指定接口的完整路径-->
<mapper namespace="cn.tedu.egmybaits4.mapper.OrdersMapper">
    <insert id="insertOrders">
        INSERT INTO orders(order_id,cust_id, order_date, status, products_num, amt)
        VALUES (#{orderId},#{custId},#{orderDate},#{status},#{productsNum},#{amt})
    </insert>


    <resultMap id="aaaa" type="cn.tedu.egmybaits4.pojo.vo.OrderListVo1">
        <id column="cust_id" property="custId"/>
        <result column="cust_name" property="custName"/>
        <collection property="ordersList" ofType="cn.tedu.egmybaits4.pojo.entity.Orders">
            <id column="order_id" property="orderId"/>
            <result column="cust_id" property="custId"/>
            <result column="order_date" property="orderDate"/>
            <result column="status" property="status"/>
            <result column="products_num" property="productsNum"/>
            <result column="amt" property="amt"/>
        </collection>
    </resultMap>
    <select id="selectOrderMap" resultMap="aaaa">
        SELECT c.cust_id, cust_name, order_id,  order_date, status, products_num,amt
        FROM customers c JOIN orders o ON o.cust_id = c.cust_id
        WHERE cust_name = #{custName}
    </select>

    <update id="dynamicUpdateById">
        UPDATE orders
        <set>
            <if test="orderId!=null">order_id=#{orderId},</if>
            <if test="custId!=null">cust_id=#{custId},</if>
            <if test="orderDate!=null">order_date=#{orderDate},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="productsNum!=null">products_num=#{productsNum},</if>
            <if test="amt!=null">amt=#{amt}</if>
        </set>
        WHERE order_id=#{orderId}
    </update>

</mapper>